body {
    background-color: hsl(0, 0%, 95%);
    font-family:'Lexend Deca';
    margin: 0;

}

#flex {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sedan-column, #suv-column, #luxury-column {
    width: 307px;
    height: 500px;
    color:hsla(0, 0%, 100%, 0.75);
    padding-top: 50px;;
    padding-left: 50px;
    padding-right: 65px;
    box-sizing: border-box;
    min-width: 900

}

#sedan-column {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;

}

#suv-column {
    background-color: hsl(184, 100%, 22%);
    
}

#luxury-column {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

h1 {
    font-family:'Big Shoulders Display';
    text-transform: uppercase;
    font-size: 2rem;
}

p {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 95px;
}

#sedan-learn, #suv-learn, #luxury-learn {
    width: 145px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}

#sedan-learn {
    color:hsl(31, 77%, 52%);
    
}

#suv-learn {
    color:hsl(184, 100%, 22%);


}

#luxury-learn {
    color:hsl(179, 100%, 13%);

}

#sedan-learn:hover {
    border: 2px solid white;
    background-color: hsl(31, 77%, 52%);
    color: white;
    cursor: pointer;
}

#suv-learn:hover {
    border: 2px solid white;
    background-color: hsl(184, 100%, 22%);
    color: white;
    cursor: pointer;
}

#luxury-learn:hover {
    border: 2px solid white;
    background-color: hsl(179, 100%, 13%);
    color: white;
    cursor: pointer;
}

/* mobile view */

@media screen and (max-width: 520px) {
    
    #flex {
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
    }

    #sedan-column, #suv-column, #luxury-column {
        height: 440px
    }    
    p {
        margin-bottom: 40px;
    }

    #sedan-column {
        border-radius: 10px 10px 0 0 ;
    }

    #luxury-column {
        border-radius: 0 0 10px 10px;
    }
}

